@import "./mixins.scss";


header {
    background-image: url("../img/Header_2.png");
    @include backgroundImage (no-repeat, 20vh, 100%, cover);
    color: blanchedalmond;
    }
  
    h1 {
      text-align: center;
    }
  
  .logos {
    @include flex (flex, space-between, center)
  }
  
  .logo {
   @include flex (flex, space-around, center, 30%)
  }
  