@mixin flex ($display: flex, $justify-content: space-around, $align-items: center, $width: 0) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
        @if $width!=0 {
            width: $width;
        }
}

@mixin backgroundImage ($background-repeat: no-repeat, $height: 60vh, $width: 100%, $background-size: cover) {
    background-repeat: $background-repeat;
    height: $height;
    width: $width;  
    background-size: $background-size;
}

